@page
@model AspnetRunBasics.CheckOutModel
@{
    ViewData["Title"] = "CheckOut";
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Anasayfa</a></li>
                    <li class="breadcrumb-item"><a asp-page="Cart">Sepetim</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ödeme</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Sepetiniz</span>
                <span class="badge badge-secondary badge-pill">@Model.Cart.Items.Count</span>
            </h4>
            <ul class="list-group mb-3">

                @foreach (var item in Model.Cart.Items)
                {
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">@item.ProductName</h6>
                            <small class="text-muted">@item.ProductName</small>
                        </div>
                        <span class="text-muted">$@item.Price</span>
                    </li>
                }

                <li class="list-group-item d-flex justify-content-between">
                    <span>Toplam (TRY)</span>
                    <strong>$@Model.Cart.TotalPrice</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Billing address</h4>
            <form asp-page-handler="CheckOut" method="post" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.FirstName" for="firstName">İsim</label>
                        <input asp-for="Order.FirstName" type="text" class="form-control" id="firstName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Geçerli bir isim giriniz.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.LastName" for="lastName">Soyisim</label>
                        <input asp-for="Order.LastName" type="text" class="form-control" id="lastName" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Geçerli bir soyisim giriniz.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="username">Kullanıcı adı</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">@@</span>
                        </div>
                        <input type="text" class="form-control" id="username" placeholder="Username" required>
                        <div class="invalid-feedback" style="width: 100%;">
                            Kullanıcı adınız gereklidir.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Order.EmailAddress" for="email">Email <span class="text-muted">(Optional)</span></label>
                    <input asp-for="Order.EmailAddress" type="email" class="form-control" id="email" placeholder="you@example.com">
                    <div class="invalid-feedback">
                        Geçerli bir email giriniz.
                    </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Order.AddressLine" for="address">Adres</label>
                    <input asp-for="Order.AddressLine" type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                    <div class="invalid-feedback">
                        Lütfen fatura için adres giriniz.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address2">Adres Satırı 2 <span class="text-muted">(Opsiyonel)</span></label>
                    <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                </div>

                <div class="row">
                    <div class="col-md-5 mb-3">
                        <label asp-for="Order.Country" for="country">Ülke</label>
                        <select asp-for="Order.Country" class="custom-select d-block w-100" id="country" required>
                            <option value="">Ülke</option>
                            <option>Türkiye</option>
                        </select>
                        <div class="invalid-feedback">
                            Lütfen geçerli bir ülke giriniz.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label asp-for="Order.State" for="state">İl</label>
                        <select asp-for="Order.State" class="custom-select d-block w-100" id="state" required>
                            <option value="">Seçiniz...</option>
                            <option>İzmir</option>
                        </select>
                        <div class="invalid-feedback">
                            Lütfen geçerli bir il adı giriniz.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label asp-for="Order.ZipCode" for="zip">Posta kodu</label>
                        <input asp-for="Order.ZipCode" type="text" class="form-control" id="zip" placeholder="" required>
                        <div class="invalid-feedback">
                            Lütfen geçerli bir posta kodu girniz.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="same-address">
                    <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="save-info">
                    <label class="custom-control-label" for="save-info">Save this information for next time</label>
                </div>
                <hr class="mb-4">

                <h4 class="mb-3">Payment</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input asp-for="Order.PaymentMethod" id="credit" name="paymentMethod" type="radio" value="Credit card" class="custom-control-input" checked required>
                        <label asp-for="Order.PaymentMethod" class="custom-control-label" for="credit">Kredı kartı</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input asp-for="Order.PaymentMethod" id="debit" name="paymentMethod" type="radio" value="Debit card" class="custom-control-input" required>
                        <label asp-for="Order.PaymentMethod" class="custom-control-label" for="debit">Banka kartı</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.CardName" for="c-name">Kart üzerindeki isim</label>
                        <input asp-for="Order.CardName" type="text" class="form-control" id="cc-name" placeholder="" required>
                        <small class="text-muted">Kartta görünen ismi giriniz.</small>
                        <div class="invalid-feedback">
                            Kartta görünen isim gereklidir..
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="Order.CardNumber" for="cc-number">Kredi kartı</label>
                        <input asp-for="Order.CardNumber" type="text" class="form-control" id="cc-number" placeholder="" required>
                        <div class="invalid-feedback">
                            Kredi kartı numarısını giriniz.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label asp-for="Order.Expiration" for="cc-expiration">Son kullanım tarihi</label>
                        <input asp-for="Order.Expiration" type="text" class="form-control" id="cc-expiration" placeholder="" required>
                        <div class="invalid-feedback">
                            Son kullanım tarihi giriniz.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label asp-for="Order.CVV" for="cc-expiration">CVV</label>
                        <input asp-for="Order.CVV" type="text" class="form-control" id="cc-cvv" placeholder="" required>
                        <div class="invalid-feedback">
                            Güvenlik kodunu giriniz.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Siparişi gerçekleştir</button>
            </form>
        </div>
    </div>
</div>
