@page
@model AspnetRunBasics.ConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}

<div class="container contact-container">
    <h1 class="mt-4 mb-3">
        Sipariş onaylandı.
    </h1>
    <hr />
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <h3>@Model.Message</h3>
    }
    <br />
    <p>İletişime geçmek için (0232) 311 10 10 numarasını arayabilirsiniz.</p>
</div>
